[submodule "junior/age-calculator-react"]
	path = junior/age-calculator-react
	url = https://github.com/ab-elhaddad/age-calculator-react
[submodule "newbie/faq-accordion-react"]
	path = newbie/faq-accordion-react
	url = https://github.com/ab-elhaddad/faq-accordion-react
[submodule "newbie/qr-code-component"]
	path = newbie/qr-code-component
	url = https://github.com/ab-elhaddad/qr-code-component
[submodule "newbie/social-links-profile"]
	path = newbie/social-links-profile
	url = https://github.com/ab-elhaddad/social-links-profile
